html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, strong, sub, sup, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, time {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body {
    height: 100%;
    min-height: 750px;
    min-width: 1000px;
}
  
#wrap {
    min-height: 100%;
}
  
#main {
    overflow:auto;
    padding-bottom: 40px; /* this needs to be bigger than footer height*/
}

.menu-style{
    border: 1px solid rgb(129, 129, 129);
    background: white;
}



.admin-menu{
    height: 85%;
    background: rgb(255, 255, 255);
    margin-top: 3%;
}





.setHeight{
    height: 100%;
    border: 1px solid rgb(129, 129, 129);
}

.menuStyleExtra{
    overflow: none;
    padding-top: 15px;
}

#knuteDiv{
    display: none;
}

#knuter{
    height: 90%;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(129, 129, 129);
}




#nyKnute{
    height: 10%;
    background: rgb(255, 255, 255);
}

div#showKnotInfo{
    height: 80%;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(129, 129, 129);

}

div#deleteKnot{
    height: 10%;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(129, 129, 129);
}

div#addKnotHeading{
    height: 10%;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(129, 129, 129);
    
}

#addKnotHeading p{
    padding: 15px 0 0 10px;
    font-size: 200%;
}

div#showNewKnotInfo{
    height: 80%;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(129, 129, 129);

}



#knotButtons{
    height: 10%;
    background: rgb(255, 255, 255);
}

#newKnotButtons{
    height: 10%;
    background: rgb(255, 255, 255);
}

#knuteNavn{
    width: 90%;
    margin-left: 5%;
    padding: 12px 20px;
    border: none;
    border-bottom: 3px double red;
}


#knuteBeskrivelse{
    width: 90%;
    margin-left: 5%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px double red;
    /*
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;*/
    resize: none;
}

#knuteNavnInfo{
    width: 90%;
    margin-left: 5%;
    padding: 12px 20px;
    border: none;
    border-bottom: 3px double red;
}

#knuteBeskrivelseInfo{
    width: 90%;
    margin-left: 5%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px double red;
    /*
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;*/
    resize: none;
}



#brukerDiv{
    display: none;
}

#meldingerDiv{
    display: none;
}

#registrerAdminDiv{
    display: none;
}


#rapporterDiv{
    display: none;
}


#kontaktOssDiv{
    display: none;
}


#landingDiv{
    display: none;
}


.buttonDiv{
    /*height: 10%;*/
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    width: 100%; 
    /*height: 8%;*/
    border-bottom: 1px solid rgb(129, 129, 129);
}
/*
.buttonDiv:hover{
    background: red;
    padding: 15px 0px 15px 20px;
    margin: 0;
    font-size: 140%;
}
*/
.buttonDiv p{
    padding: 15px 0px 15px 20px;
    margin: 0;
    background: rgb(255, 255, 255);
    font-size: 140%;
}

.buttonDiv p:hover{
    padding: 15px 0px 15px 20px;
    margin: 0;
    background: rgb(230, 230, 230);
    font-size: 140%;
}

/*
.buttonDiv p.framsideTest{
    background: black;
}

.buttonDiv p.framsideTest{
    background: rgb(255, 255, 255);
}

.buttonDiv p.framsideTest:hover{
    background: rgb(121, 121, 121);
}
*/

.footer {
    position: relative;
    margin-top: -40px; /* negative value of footer height */
    height: 40px;
    clear:both;
    padding-top: 0;
    border: 1px solid rgb(129, 129, 129);
    background: rgb(255, 255, 255);
} 