html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, em, img, strong, sub, sup, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, time {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html, body {
    height: 100%;
    min-height: 900px;
    min-width: 1000px;
}

body{
    background-image: url("http://drp-images.nettavisen.no/images/article/2017/03/06/3423319959/1/w1024/3524363.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

  
#wrap {
    min-height: 100%;
}
  
#main {
    overflow:auto;
    padding-bottom: 40px; /* this needs to be bigger than footer height*/
}

.menu-style{
    border: 1px solid rgb(129, 129, 129);
    background: rgb(255, 34, 34);
}




.admin-menu{
    height: 85%;
    background: rgb(255, 255, 255);
    margin-top: 3%;
}

.customContainer{
    margin: auto;
    width: 75%;
}



.setHeight{
    height: 100%;
    border: 1px solid rgb(129, 129, 129);
    padding: 0;
    margin: 0;
}

.col-sm-3{
    background: rgb(255, 255, 255);
}

.col-sm-9{
    background: rgb(255, 255, 255);
}

.col-sm-5{
    background: rgb(255, 255, 255);
}

.col-sm-4{
    background: rgb(255, 255, 255);
}

.menuStyleExtra{
    overflow: none;
    padding-top: 15px;
}

.menuStyleExtra a{
    color: black;
    text-decoration: none;
}

#knuteDiv{
    display: none;
}

#knuter{
    height: 90%;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(129, 129, 129);
}

.knuterDiv{
    padding-top: 8px;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
    width: 95%;
}




#nyKnute{
    height: 10%;
    background: rgb(255, 255, 255);
}

div#showKnotInfo{
    height: 80%;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(129, 129, 129);

}

div#deleteKnot{
    height: 10%;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(129, 129, 129);
}

div#addKnotHeading{
    height: 10%;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(129, 129, 129);
    
}

#addKnotHeading p{
    padding: 15px 0 0 10px;
    font-size: 200%;
}

div#showNewKnotInfo{
    height: 80%;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(129, 129, 129);

}



#knotButtons{
    height: 10%;
    background: rgb(255, 255, 255);
}

#newKnotButtons{
    height: 10%;
    background: rgb(255, 255, 255);
}

#knuteNavn{
    width: 90%;
    margin-left: 5%;
    padding: 12px 20px;
    border: none;
    border-bottom: 3px double red;
}


#knuteBeskrivelse{
    width: 90%;
    margin-left: 5%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px double red;
    /*
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;*/
    resize: none;
}

#knuteNavnInfo{
    width: 90%;
    margin-left: 5%;
    padding: 12px 20px;
    border: none;
    border-bottom: 3px double red;
}

#knuteBeskrivelseInfo{
    width: 90%;
    margin-left: 5%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px double red;
    /*
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;*/
    resize: none;
}
/******************************** landingDiv *************************************/
div#landingDiv{
    background: rgb(255, 65, 96);
}
div#landingLogo{
    width: 40%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 25px;
}

#landingDiv img{
    margin: auto;
    width: 100%;
    border: 1px solid black;
}

#framsideTekst{
    width: 64%;
    margin: auto;
    background: blue;
}

#landingDiv #framsideTekst p{
    font-size: 200%;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid black;
}



/********************************* brukerDiv *************************************/
#brukerDiv{
    display: none;
}

#brukerSearch{
    height: 5%;
    background: #ffffff;
    width: 100%;
    margin: 16px 0;
    background: rgb(255, 255, 255);
}

#brukerSearchForm{
    width: 100%;
}

#brukerSearchFormInput{
    width: 100%;
    background: #e7e7e79a;
    padding: 6px 10px;
}

#tableContainer{
    background: #ffffff;
    height: 81%;
    overflow-y: scroll;
}

#brukerTable{
    border-collapse: collapse;
    width: 100%;
    background: rgb(255, 255, 255);
}

#brukerTable thead{
    padding-top: 10%;
    background: rgb(255, 255, 255);

}

#brukerTable th{
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
}

#brukerTable td{
    border: 1px solid rgb(0, 0, 0);
    padding: 3px 8px 0 8px;
}
#brukerTable tr:nth-child(even){
    background-color: #e7e7e79a;
}

#brukerTable thead tr{
    /*margin: 50px 10px;*/
    color: white;
    background: rgb(0, 0, 0);

}

/*
tbody#brukerTableBody{
    height: 262px;
    overflow-y: scroll;
    width: 100%
}
*/
div#brukerIkonForklaring{
    height: 5%;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    padding: 10px 10px 1px 10px;
    border: 1px solid  black;
    background: #ffffff;
    /*position: relative;
    margin-top: -10px; 
    height: 10px;
    clear:both;
    background: red;
    padding-top: 0;
    border: 1px solid rgb(129, 129, 129);
    background: rgb(255, 255, 255);*/
}

/********************************* bekreftBrukerDiv *************************************/
#bekreftBrukerDiv{
    display: none;
}

#bekreftBrukerSearch{
    width: 100%;
    margin: 16px 0;
    background: blue;
}

#bekreftBrukerSearchForm{
    width: 100%;
}

#bekreftBrukerSearchFormInput{
    width: 100%;
    background: rgb(216, 216, 216);
    padding: 6px 10px;
}


/********************************* meldingerDiv *************************************/
#meldingerDiv{
    display: none;
}

#registrerAdminDiv{
    display: none;
}


#rapporterDiv{
    display: none;
}


#kontaktOssDiv{
    display: none;
}


#landingDiv{
    display: none;
}


.buttonDiv{
    /*height: 10%;*/
    padding: 0;
    margin: 0;
    background: rgb(255, 255, 255);
    width: 100%; 
    /*height: 8%;*/
    border-bottom: 1px solid rgb(129, 129, 129);
}
/*
.buttonDiv:hover{
    background: red;
    padding: 15px 0px 15px 20px;
    margin: 0;
    font-size: 140%;
}
*/
.buttonDiv p{
    padding: 15px 0px 15px 20px;
    margin: 0;
    background: rgb(255, 255, 255);
    font-size: 140%;
}

.buttonDiv p:hover{
    padding: 15px 0px 15px 20px;
    margin: 0;
    background: rgb(230, 230, 230);
    font-size: 140%;
    text-decoration: none;
    color: black;
}

/*
.buttonDiv p.framsideTest{
    background: black;
}

.buttonDiv p.framsideTest{
    background: rgb(255, 255, 255);
}

.buttonDiv p.framsideTest:hover{
    background: rgb(121, 121, 121);
}
*/

.footer {
    position: relative;
    margin-top: -40px; /* negative value of footer height */
    height: 40px;
    clear:both;
    padding-top: 0;
    border: 1px solid rgb(129, 129, 129);
    background: rgb(255, 34, 34);
} 