nav {
   
}

nav a  {
   
}

nav a:hover {
   
}

#main {
    margin-left: 120px;
    display: inline-block;
    width: 100%;
    background: black;
}

#feed   {
    min-width: 50%;
    min-height: 100%;
    background: blue;
    height: 100%;
    float: left;
    margin: 0 25%;
}

.update {
    
}

footer  {
    text-align: center;
    float: left;
    width: 100%;
    margin-left: 130px;
}