* {
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

body{
    /*background-image: url("images\bakgrunn.jpg");*/
    /*background-image: url("https://imbo.vgc.no/users/vgno/images/48ba36c8641bfddf70a54076a8dcafff?t[0]=sharpen:preset=light&t[1]=crop:width=3831,height=2274,x=105,y=0&t[2]=maxSize:width=990&t[3]=resize:width=990&accessToken=7c201289bfbe4472b756e121f1342528aadc0cbb549bda8e82a41fa89df6e6b0");
    */
    background-image: url(images/square_bg.png);
    background-repeat: repeat;
/*background: #ff515100;*/
    
}

#blurEffect{
    background: rgba(0, 0, 0, 0.76);
}

#wrap {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 80%;
    background: rgba(255, 255, 255, 0);
}



#topBanner{
    width: 100%;
    height: 50px;
    background:#EF2729;

}

#topBannerContent{
    width: 50%;
    margin: auto;
    padding-top: 10px;
    background: #EF2729;

}

#main {
    margin-left: 130px;
    display: inline-block;
    width: 100%;
    background: lightgreen;
}

#wrap {
    min-height: 100%;
    min-width: 100%;
}

#table  {
    background: white;
    border-color: black;
    border: 2px;
    border-style: solid;
    min-width: 100%;
}

#table2 {
    background: white;
    border-color: black;
    border: 2px;
    border-style: solid;
    min-width: 100%;
}

td {
  width: 4rem;
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center;
}

th  {
  width: 4rem;
  height: 2rem;
  border: 1px solid #ccc;
  text-align: center;
  background: black;
  color: white;
}

.userInfo{
    background: #EF7729;
    margin: auto;
    width: 75%;
}

[class*="col-"] {
    float: left;
   
    border: 1px solid transparent;
}

html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}


.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-decoration: none;
}
/*
img:hover {
    width: 298px;
    min-width: 298px;
    max-width: 298px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 10px solid rgb(255, 34, 34);
    border-radius: 50%;
}*/

div#imgDiv{
    width: 358px;
    min-width: 358px;
    max-width: 358px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 30px solid rgb(255, 34, 34);*/
    box-shadow: 0 4px 8px 0 rgba(255, 34, 34, 0.2), 0 6px 20px 0 rgba(255, 34, 34, 0.19);
    border: 30px solid rgb(0,0,0);
    border-radius: 50%;
}

img{
    width: 298px;
    min-width: 298px;
    max-width: 298px;
    display: block;
    
    height: auto;
    box-shadow: 0px 0px 25px 0 rgba(0,0,0, 0.8), 0 6px 20px 0 rgba(0,0,0, 0.6);
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 20px solid rgb(177, 1, 1);/*rgb(255, 34, 34);
    border-radius: 50%;*/
}
/*
div#formHeaders{
    margin: auto;
    text-align: center;
    display: inline-block;
    background: #33b5e5;
}
*/
h3{
    color: white;
    font-size: 190%;
    margin-bottom: 0;
    padding-bottom: 0;
}   

div.extraInfoMargin{
    background: #ffffff00;
    min-height: 5vh;
    max-height: 5vh;
}

div#testingSomething{
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



#registerForm{
    vertical-align: middle;
    background: rgb(255, 34, 34); 
    height: 90vh;
    max-height: 90vh;
    min-height: 810px;
    margin: auto;
    padding: 25px 25px 75px 25px;
    /*width: 40%;*/
    min-width: 450px; /*350px;*/
    max-width: 600px;
    border: 3px solid rgb(255, 34, 34);
    /*border: 20px solid rgb(255, 63, 66);*/ /*rgb(255, 34, 34);*/
    border-radius: 1%;
}

#registerForm form{
    margin-top: 25px;
    color: white;
    font-size: 150%;
}

#loginForm{
    vertical-align: middle;
    background: rgb(177, 1, 1); /*rgb(203, 25, 46);*/ /*rgb(255, 63, 66);*/ /* #FF4136 202, 27, 27 */
    /*background: rgb(0, 0, 0);*/
    height: 90vh;
    max-height: 90vh;
    min-height: 820px;
    margin: auto;
    padding: 25px 25px 75px 25px;
    /*width: 40%;*/
    min-width: 450px; /*350px;*/
    max-width: 600px;
    /*box-shadow: 0px 0px 20px 0 rgb(202, 27, 27), 0 6px 20px 0 rgb(202, 27, 27);*/
    box-shadow: 0px 0px 20px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
}

#loginForm form{
    margin-top: 25px;
    margin-bottom: 25px;
    color: white;
    font-size: 150%;
}

#loginForm form input{
    background: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 0 rgba(0,0,0, 0.493), 0 6px 20px 0 rgba(0,0,0, 0.6);

}

#loginForm form input:focus{
    background: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 20px 0 rgba(0,0,0, 0.493), 0 6px 20px 0 rgba(0,0,0, 0.6);

}



p{
    font-size: 150%;
    color: white;
}

.leftButton{
    float: left; 
    background: rgb(255, 255, 255);
    color: black;
    margin-top: 5px; 
    font-size: 110%;
    width: 45%; 
    padding: 5px 10px;
    border: 1px solid rgb(0, 0, 0);
    /*border-radius: 1%;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    */box-shadow: 0px 0px 20px 0 rgba(0,0,0, 0.493), 0 6px 20px 0 rgba(0,0,0, 0.6);
}


.leftButton:hover{
    float: left; 
    background: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
    margin-top: 5px; 
    font-size: 110%;
    width: 45%; 
    padding: 5px 10px;
    /*border: 1px solid rgb(255, 255, 255);*/
    /*border-radius: 1%;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    */box-shadow: 0px 0px 20px 0 rgba(0,0,0, 0.493), 0 6px 20px 0 rgba(0,0,0, 0.6);
}

.leftButton:focus{
    float: left; 
    background: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
    margin-top: 5px; 
    font-size: 110%;
    width: 45%; 
    padding: 5px 10px;
    /*border: 1px solid rgb(255, 255, 255);*/
    /*border-radius: 1%;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    */box-shadow: 0px 0px 20px 0 rgba(0,0,0, 0.493), 0 6px 20px 0 rgba(0,0,0, 0.6);
}

.leftButton:active{
    float: left; 
    background: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
    margin-top: 5px; 
    font-size: 110%;
    width: 45%; 
    padding: 5px 10px;
    /*border: 1px solid rgb(255, 255, 255);*/
    /*border-radius: 1%;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    */box-shadow: 0px 0px 20px 0 rgba(0,0,0, 0.493), 0 6px 20px 0 rgba(0,0,0, 0.6);
}

.leftButton:target{
    float: left; 
    background: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
    margin-top: 5px; 
    font-size: 110%;
    width: 45%; 
    padding: 5px 10px;
    /*border: 1px solid rgb(255, 255, 255);*/
    /*border-radius: 1%;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    */box-shadow: 0px 0px 20px 0 rgba(0,0,0, 0.493), 0 6px 20px 0 rgba(0,0,0, 0.6);
}

.rightButton{
    float: right; 
    background: rgb(255, 255, 255);
    color: black;
    margin-top: 5px; 
    font-size: 110%;
    width: 45%; 
    padding: 5px 10px;
    border: 1px solid rgb(0, 0, 0);
    /*border-radius: 1%;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    */box-shadow: 0px 0px 20px 0 rgba(0,0,0, 0.493), 0 6px 20px 0 rgba(0,0,0, 0.6);
}

.rightButton:hover{
    float: right; 
    background: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
    margin-top: 5px; 
    font-size: 110%;
    width: 45%; 
    padding: 5px 10px;
    /*border: 1px solid rgb(255, 255, 255);*/
    /*border-radius: 1%;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    */box-shadow: 0px 0px 20px 0 rgba(0,0,0, 0.493), 0 6px 20px 0 rgba(0,0,0, 0.6);
}

.rightButton:focus{
    float: right; 
    background: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
    margin-top: 5px; 
    font-size: 110%;
    width: 45%; 
    padding: 5px 10px;
    /*border: 1px solid rgb(255, 255, 255);*/
    /*border-radius: 1%;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    */box-shadow: 0px 0px 20px 0 rgba(0,0,0, 0.493), 0 6px 20px 0 rgba(0,0,0, 0.6);
}

.rightButton:active{
    float: right; 
    background: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
    margin-top: 5px; 
    font-size: 110%;
    width: 45%; 
    padding: 5px 10px;
    /*border: 1px solid rgb(255, 255, 255);*/
    /*border-radius: 1%;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    */box-shadow: 0px 0px 20px 0 rgba(0,0,0, 0.493), 0 6px 20px 0 rgba(0,0,0, 0.6);
}

.rightButton:target{
    float: right; 
    background: rgb(221, 221, 221);
    color: rgb(0, 0, 0);
    margin-top: 5px; 
    font-size: 110%;
    width: 45%; 
    padding: 5px 10px;
    /*border: 1px solid rgb(255, 255, 255);*/
    /*border-radius: 1%;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    */box-shadow: 0px 0px 20px 0 rgba(0,0,0, 0.493), 0 6px 20px 0 rgba(0,0,0, 0.6);
}

.btn{
    border: 0;
}

.btn-primary{
    border: 0;
}

#profileWidget{
    background: whitesmoke;
    float: left;
    color: #000 !important;
    width: 100%;
    
}

#profileWidget p{
    
    color: #000 !important;
    
}

#profileWidget h3{
    
    color: #000 !important;
    
}

