* {
    box-sizing: border-box;
}

@media only screen and (max-width: 1200px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) { /*768*/
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

body{
    /*background-image: url("images\bakgrunn.jpg");*/
    /*background-image: url("https://imbo.vgc.no/users/vgno/images/48ba36c8641bfddf70a54076a8dcafff?t[0]=sharpen:preset=light&t[1]=crop:width=3831,height=2274,x=105,y=0&t[2]=maxSize:width=990&t[3]=resize:width=990&accessToken=7c201289bfbe4472b756e121f1342528aadc0cbb549bda8e82a41fa89df6e6b0");
    */
    background-image: url(images/square_bg.png);
    background-repeat: repeat;
    min-width: 650px;
/*background: #ff515100;*/
    
}
/*
#blurEffect{
    background: rgba(0, 0, 0, 0.76);
}
*/
#wrap {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0);
}



#main {
    margin-left: 130px;
    display: inline-block;
    width: 100%;
    background: lightgreen;
}

.userInfo{
    background: #EF7729;
    margin: auto;
    width: 75%;
}

/*
[class*="col-"] {
    float: left;
   
}
*/
[class*="col-m-5"] {
    float: left;
    border: 1px solid transparent;
   
}

[class*="col-5"] {
    float: left;
    border: 1px solid transparent;
   
}

[class*="col-m-7"] {
    float: left;
    border: 1px solid transparent;
   
}

[class*="col-7"] {
    float: left;
    border: 1px solid transparent;
   
}
/*
html {
    font-family: "Lucida Sans", sans-serif;
}
.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}


.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-decoration: none;
}
*/

.mainContent{
    margin-top: 25px;
    margin-bottom: 25px;
    background: rgba(255, 255, 255, 0);
}

div#profilePicture{
    /*margin: 0;*/
    margin-bottom: 10px;
    background: rgba(224, 158, 158, 0);
    color: #000 !important;
    width: 100%;

}

div#profilePicture img#profilePictureImage{
    display:block;
    margin: auto;
    /*border: 5px solid rgb(0, 0, 0);*/
    /*border-radius: 50%;*/
    /*border-radius: 5px;*/
    box-shadow: none;
}


div#russCard{
    /*margin: 0;*/
    margin-bottom: 10px;
    background: rgba(141, 21, 21, 0);
    color: #000 !important;
    width: 100%;
    /*border: 1px solid black;
    border-radius: 5px 5px 0px 0px;*/
    
}

div#russCard img#russCardImage{
    display:block;
    margin: auto;
    /*border: 5px solid rgb(0, 0, 0);*/
    
    box-shadow: none;
    /*border-radius: 5px;*/
}

#russCard p{
    
    color: #000 !important;
    
}


/*
#russCard h3{
    
    color: #000 !important;
    text-align: center;
    background: red;
    
}
*/
h3{
    margin: 0;
    padding: 10px;
    color: rgb(255, 255, 255) !important;
    text-align: center;
    background: red;
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
    
}

.headerRow{
    background: rgba(255, 255, 255, 0.836);
}

.imagesRow{
    margin: auto;
    padding: 15px;
    background: rgba(69, 238, 250, 0);
}


.infoRow{
    width: 100%;
    margin: auto;
}

#groups{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
    background: rgb(255, 255, 255);
}

#groups #groupsContent{
    margin: 0;
    padding: 0;
    padding: 10px;

}

#groupsContent ul{
    list-style-type: none;
}

#userInfo{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
    background: rgb(255, 255, 255);
}

#userInfo #userInfoContent{
    margin: 0;
    padding: 0;
    padding: 10px;
}

#userInfoContent ul{
    list-style-type: none;
}

#knots{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
    background: rgb(255, 255, 255);
}

#knots #knotsContent{
    margin: 0;
    padding: 0;
    padding: 10px;
    min-height: 500px;
}

#knotsContent ol{
    /*list-style-type: none;*/
}

#knotsContent ol li{
    font-size: 150%;
}

#messages{
    margin: 0;
    padding: 0;
    /*margin-bottom: 20px;*/
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
}

#messages #messagesContent{
    margin: 0;
    padding: 0;
    padding: 10px;
}

.borderRow{
    border-right: 1px solid black;
}








.footer {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 30px;
    clear:both;
    padding-top: 0;
    /*border: 1px solid rgb(129, 129, 129);*/
    background: rgb(177, 1, 1);
    color: white;
}

